.footer{
    padding: 0.5rem; 
    justify-content: center; 
    border: none; 
border-radius: 10px;
    align-items: center; 
    color: #ffffff;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background-color: #000000;
}

.container {
    background: rgba(245, 245, 245, 1);
    border: none; 
    border-radius: 10px;
    border-style: none; 
    background: #F5F5F5;
    width: 13rem; 
    padding: 5px;
    height: 16rem;
}
.all{
    margin: 2rem;
}
.container:hover .footer{
 cursor: pointer;
 visibility: visible;
 opacity: 1;
}