.cart{
    background: rgba(245, 245, 245, 1);
    border: none;
    border-radius: 10px;
}
.num{
    border: none;
    width: 65px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    color: white;
}